<div class="mt-2 article-grid-container">
    <div class="article-grid-head">
        <div class="d-flex flex-items-baseline flex-justify-between mt-3">
            <h1 class="border-bottom-0" id="about-the-api">Examples's GraphQL API</h1>
        </div>
    </div>
    <div id="article-contents" class="article-grid-body">
        <h3>About this example</h3>
        <p>
            We are using a custom template to remove the list with
            GraphQL definitions that used to be here.
        </p>
        <p>
            This is a simple change because the about.html template doesn't include
            references to more templates, but some of them do. For example, index.html
            has references to all the other templates!
        </p>
        <p>
            You have to be careful including these same references in your custom
            templates to render the full page 👀
        </p>
    </div>
</div>
